@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap';

*,
*::before,
*::after,
*:focus {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}



body {
  font-family: poppins, sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100dvh;
  background: rgb(27, 32, 48);
  overflow-x:hidden;
}

.video-container {
  border-radius: 20px;
  position: relative;
  width: 90%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  background-color: black;
  outline: none;
  -webkit-touch-callout: none; /* Для Safari и iOS */
  -webkit-user-select: none; /* Для Safari и Chrome */
  -khtml-user-select: none; /* Для Konqueror */
  -moz-user-select: none; /* Для Firefox */
  -ms-user-select: none; /* Для Internet Explorer и Edge */
  user-select: none;
}

.video-container.theater,
.video-container.full-screen {
  max-width: initial;
  width: 100%;
}

.video-container.theater {
  max-height: 90vh;
}

.video-container.full-screen {
  max-height: 100vh;
}

.full-screen-btn img {
  width: 24px;
  height: 24px;
}

video {
  width: 100%;
  border-radius: 20px;
}

.video-controls-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 100;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  border-radius: 0 0 30px 30px;
}

.video-controls-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, .75), transparent);
  /* width: 100%; */
  aspect-ratio: 6 / 1;
  z-index: -1;
  pointer-events: none;
}

.video-container:hover .video-controls-container,
.video-container:focus-within .video-controls-container,
.video-container.paused .video-controls-container {
  opacity: 1;
}

.video-controls-container .controls {
  display: flex;
  gap: .5rem;
  padding: .25rem;
  align-items: center;
}

.video-controls-container .controls .button {
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  height: 30px;
  width: 30px;
  font-size: 1.1rem;
  cursor: pointer;
  /* opacity: .85; */
  transition: opacity 150ms ease-in-out;
}

.video-controls-container .controls .button:hover {
  opacity: 1;
}

.video-container.paused .pause-icon {
  display: none;
}

.video-container:not(.paused) .play-icon {
  display: none;
}


.full-screen-btn.full-screen .open {
  display: block;
}

.full-screen-btn:not(.full-screen) .open {
  display: none;
}

.full-screen-btn:not(.full-screen) .close {
  display: block;
}

.full-screen-btn.full-screen .close {
  display: none;
}

.volume-high-icon,
.volume-low-icon,
.volume-muted-icon {
  display: none;
}

.video-container[data-volume-level="high"] .volume-high-icon {
  display: block;
}

.video-container[data-volume-level="low"] .volume-low-icon {
  display: block;
}

.video-container[data-volume-level="muted"] .volume-muted-icon {
  display: block;
}

.volume-container {
  display: flex;
  align-items: center;
  display: none;
}

.volume-slider {
  width: 0;
  height: 5px;
  transform-origin: left;
  transform: scaleX(0);
  transition: width 150ms ease-in-out, transform 150ms ease-in-out;
  accent-color: #6643B8;
  background: #6643B8;
}

.volume-container:hover .volume-slider,
.volume-slider:focus-within {
  width: 100px;
  transform: scaleX(1);
}

.duration-container {
  display: flex;
  align-items: center;
  gap: .25rem;
  flex-grow: 1;
  position: absolute;
  margin-bottom: 14px;
  user-select: none;
  pointer-events: none;
}

.duration-container .separator {
  color: gray;
  font-size: 0.7rem;
}

.video-container.captions .captions-btn {
  border-bottom: 3px solid red;
}

.timeline_touch {
  height: 28px;
  display: flex;
  align-items: flex-end;
  margin-inline: 1.5rem;
  cursor: pointer;
}

.span {
  text-align: center;
  background: rgba(0, 4, 37, 0.288);
  padding: 5px 10px 4px;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  transition: opacity .13s ease;
  position: absolute;
  top: -20px;
  font-size: 13px;
  color: #fff;
  pointer-events: none;
  transform: translateX(50%);
  z-index: 999;
}

.timeline-container {
  width: 100%;
  height: 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.timeline {
  background-color: rgba(100, 100, 100, .5);
  height: 4px;
  border-radius: 5px;
  width: 100%;
  position: relative
}

.timeline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--preview-position) * 100%);
  background-color: rgb(150, 150, 150);
  display: none;
  border-radius: 5px;
}

.timeline::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--progress-position) * 100%);
  background-color: #6643B8;
  border-radius: 5px;
  transition: transform .1s linear(0, 0, .2, 1), -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
}

/* .timeline::after,
.timeline::before{
  transition: right 300ms ease-in-out;
} */

.timeline .thumb-indicator {
  --scale: 0;
  position: absolute;
  transform: translateX(-50%) scale(var(--scale));
  height: 200%;
  top: -50%;
  left: calc(var(--progress-position) * 100%);
  background-color: #6643B8;
  pointer-events: none;
  border-radius: 50%;
  transition: transform 50ms ease-in-out;
  aspect-ratio: 1 / 1;
}

.timeline .preview-img {
  position: absolute;
  height: 120px;
  aspect-ratio: 16 / 9;
  top: -1rem;
  transform: translate(-50%, -100%);
  left: calc(var(--preview-position) * 100%);
  border-radius: .75rem;
  /* border: 2px solid white; */
  display: none;
}

.thumbnail-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.video-container.scrubbing .thumbnail-img {
  display: block;
}

.video-container.scrubbing .preview-img,
.timeline-container:hover .preview-img {
  /* display: block; */
  display: none;
}

.video-container.scrubbing .timeline::before,
.timeline-container:hover .timeline::before {
  display: block;
}

.video-container.scrubbing .thumb-indicator,
.timeline-container:hover .thumb-indicator {
  --scale: 1;
}

.video-container.scrubbing .timeline,
.timeline-container:hover .timeline {
  height: 100%;
}

/* input[type="range" i] {
  appearance: auto;
  cursor: default;
  color: -internal-light-dark(#6643B8, rgb(255, 255, 255));
  padding: initial;
  border: initial;
  margin: 2px;
} */

@media screen and (min-width:320px) and (max-width:900px) and (orientation:landscape) {
  .timeline_touch {
    height: 28px;
    display: flex;
    align-items: flex-end;
    margin-inline: 1.6rem;
    cursor: pointer;
  }


  .timeline {
    height: 6px;
  }

  .timeline::before {
    display: block;
  }

  .timeline .thumb-indicator {
    display: block;
    /* Показать индикатор прогресса на мобильных устройствах */
    --scale: 1.5;

  }
}



/* speed button */
.playback-content {
  display: flex;
  position: relative
}

.playback-content .speed-options {
  position: absolute;
  list-style: none;
  left: -30px;
  bottom: 40px;
  width: 80px;
  overflow: hidden;
  opacity: 0;
  border-radius: 5px;
  padding-left: 0;
  pointer-events: none;
  background: rgba(0, 4, 37, 0.288);

  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.08);
  /* background: rgba(0, 4, 37, 0.288); */
  /* background: rgba(39, 0, 122, 0.288); */
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, .1); */
  transition: opacity .13s ease;
  /* background: url(matte_glass3.png) center; */
  backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  border-radius: 10px;
}

.playback-content .speed-options.show {
  opacity: 1;
  pointer-events: auto
}

.speed-options li {
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 14px;
  /* margin: 2px 0; */
  padding: 5px 0 5px 30px;
  transition: all .1s ease
}

.speed-options li:where(:first-child, :last-child) {
  margin: 0
}

.speed-options li:hover {
  background: rgba(0, 0, 0, 0.288);
}

.speed-options li.active {
  color: #fff;
  /* background: #0078ff */
  background: #32205a85
}


@media screen and (max-width:540px) {
  .playback-content .speed-options {
    width: 75px;
    left: -30px;
    bottom: 30px
  }

}



@media screen and (max-width: 480px) {
  .video-container {
    border-radius: 20px;
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    /*   aspect-ratio: 16/9; */
    /* background-color: black; */
    object-fit: fill;

    
  }


  .timeline .thumb-indicator {
    display: block;
    /* Показать индикатор прогресса на мобильных устройствах */
    --scale: 1.5;

  }

  .timeline {
    height: 6px;
  }

  .volume-container {
    display: none;
  }
}

@media (min-width: 1080px) {
  .volume-container {
    display: inherit;
  }

  /* .timeline{
    height: 7px;
  } */
}



/* INPUT LINK */
/* .input {
  margin-top: 100px;
  color: #6643B8;
  font-size: 0.9rem;
  background: rgb(31, 37, 54);
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

input::placeholder {
  color: #ffffff; 
}

.input:focus {
  outline: none;
}

.input:focus + .input-border {
  width: 100%;
}

.form-control {
  position: relative;
  --width-of-input: 300px;
}

.input-alt {
  font-size: 1.2rem;
  text-indent: 10px;
  padding-inline: 1em;
  padding-block: 0.8em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(90deg, #FF6464 0%, #FFBF59 50%, #47C9FF 100%);
  background-clip: text;
  -webkit-background-clip: text; 
  color: transparent;
  transition: background-position 0.4s;
}

.input-border-alt {
  height: 3px;
  background: linear-gradient(90deg, #FF6464 0%, #FFBF59 50%, #47C9FF 100%);
  transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1.00);
}

.input-alt:focus + .input-border-alt {
  width: 100%;
} */



 .container {
  margin-top: 100px;
  position: relative;
  background: linear-gradient(135deg, rgb(42, 50, 73) 0%, rgb(31, 37, 54) 100%);
  border-radius: 1000px;
  padding: 10px;
  display: grid;
  place-content: center;
  z-index: 0;
  width: 50vw;
}

.search-container {
  position: relative;
  width: inherit;
  border-radius: 50px;
  background: linear-gradient(135deg, rgb(42, 50, 73) 0%, rgb(31, 37, 54) 100%);
  padding: 5px;
  display: flex;
  align-items: center;
}

/* .search-container::after, .search-container::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
} */

.search-container::before {
  top: -1px;
  left: -1px;
  background: linear-gradient(0deg, rgb(42, 50, 73) 0%, rgb(31, 37, 54)  100%);
  z-index: -1;
}

.search-container::after {
  bottom: -1px;
  right: -1px;
  background: linear-gradient(0deg, rgb(42, 50, 73) 0%, rgb(31, 37, 54) 100%);
  box-shadow: rgba(150, 79, 232, 0.702) 3px 3px 5px 0px, rgba(150, 79, 232, 0.7019607843) 5px 5px 20px 0px;
  z-index: -2;
}

.input {
  padding: 10px;
  width: 96%;
  background: linear-gradient(135deg, rgb(42, 50, 73) 0%, rgb(31, 37, 54) 100%);
  border: none;
  font-size: 20px;
  border-radius: 50px;
  background: linear-gradient(90deg, #FF6464 0%, #FFBF59 50%, #47C9FF 100%);
  background-clip: text;
  -webkit-background-clip: text; 
  color: transparent;
  transition: background-position 0.4s;

}

.input:focus {
  outline: none;
  background: linear-gradient(135deg, rgb(42, 50, 73) 0%, rgb(31, 37, 54) 100%);
  color: #8b59ffa8;
}

.search__icon {
  /* width: 14px; */
  aspect-ratio: 1;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-radius: 50%;
  /* padding-left: 12px; */
  /* padding-right: 12px; */
  margin-right: 10px;
}



.search__icon path {
  fill: transparent;
}

@media screen and (max-width: 480px) {
  .container {
    margin-top: 100px;
    position: relative;
    background: linear-gradient(135deg, rgb(42, 50, 73) 0%, rgb(31, 37, 54) 100%);
    border-radius: 1000px;
    padding: 10px;
    display: grid;
    place-content: center;
    z-index: 0;
    width: 80vw;
  }
}